body{
 	background-image: radial-gradient(#223454, #1e2d4d, #070a15); 
    color: white;
    font-family: Antic Slab, serif;
}

.wallpaper {
    display: flex;
    justify-content: center;
    margin: 5px;
    height: 300px;
}

.navbar{
    display:flex;
    justify-content: flex-end;
    position: absolute;
    right: 13.2%;
}

.Friends {
    justify-content: flex-start;
    width: 50%;
    padding: 25px;
    border: 5px solid black;
}

.Enemies {
    justify-content: flex-start;
    width: 50%;
    padding: 25px;
    border: 5px solid black;
}

img {
    width: 80%;
}

.parent {
    display: flex;
}

.col {
    width: 70%;
}

.row {
    border: 1px dotted black;
}

.shark {
border-radius: 1000px;
    width: 160px;
position: absolute;
    top: 35%;
    right: 55%;
}

.name {
position: absolute;
    top: 60%;
    right: 55%;
}

.posts {
    position: absolute;
    top: 60%;
    right: 5%;
}